<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javasee
	http:java.sun.com/xml/ns/javasee/web-app_3_0.xsd">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Savebook</servlet-name>
    <servlet-class>Sample.Servlet.Savebook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveUserServlet</servlet-name>
    <servlet-class>Sample.Servlet.SaveUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DestroyBook</servlet-name>
    <servlet-class>Sample.Servlet.DestroyBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DestroyUser</servlet-name>
    <servlet-class>Sample.Servlet.DestroyUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetBooklistData</servlet-name>
    <servlet-class>Sample.Servlet.GetBooklistData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetUserData</servlet-name>
    <servlet-class>Sample.Servlet.GetUserData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetOrdersData</servlet-name>
    <servlet-class>Sample.Servlet.GetOrdersData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>Sample.Servlet.AddProduct</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCartData</servlet-name>
    <servlet-class>Sample.Servlet.GetCartData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCart</servlet-name>
    <servlet-class>Sample.Servlet.GetCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>Sample.Servlet.EventServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Sample.Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>Sample.Servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewOrderServlet</servlet-name>
    <servlet-class>Sample.Servlet.NewOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Sample.Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatsByDay</servlet-name>
    <servlet-class>Sample.Servlet.StatsByDay</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatsByMonth</servlet-name>
    <servlet-class>Sample.Servlet.StatsByMonth</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatsByYear</servlet-name>
    <servlet-class>Sample.Servlet.StatsByYear</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatsByCategory</servlet-name>
    <servlet-class>Sample.Servlet.StatsByCategory</servlet-class>
  </servlet>
</web-app>